$main-gradient-color: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
$secondary-gradient-color: linear-gradient(180deg, #ffb455 0%, #ed7839 100%);
$primary-color: #ed7839;
$background-color: #fdf1eb;
$text-color: #4d4d4d;
$text-color-light: #5c5c5c;
$text-color-grey: #595959;
