main {
   .container {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
         'main-header main-share'
         'main-video main-details'
         'main-summary main-summary'
         'main-discussions main-discussions';
      gap: 1rem;
      padding-top: 1.25rem;
      padding-bottom: 3.125rem;
   }
   .main__title {
      font: 900 1.25rem $secondary-font;
      color: $primary-color;
      line-height: 25px;
   }
}

.display {
   display: none;
}

button {
   cursor: pointer;
   transition: 0.2s filter;
   &:hover {
      filter: brightness(0.9);
   }
}

.title {
   background-color: $background-color;
   width: 100%;
   padding: 0.6875rem 0.9375rem 0.5625rem;
   h2 {
      color: #4e4e4e;
      font: 500 1.25rem $secondary-font;
      line-height: 25px;
   }
}

// Header

.main__header {
   grid-area: main-header;
}

// Share

.main__share {
   grid-area: main-share;
   justify-self: flex-end;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 0.75rem;
   p {
      font: 500 0.875rem $secondary-font;
      color: $primary-color;
      text-transform: uppercase;
      line-height: 25px;
   }
   .share-buttons {
      display: flex;
      gap: 5px;
      a {
         background: $primary-color;
         display: inline-flex;
         align-items: center;
         gap: 5px;
         padding: 0.375rem 0.75rem;
         border-radius: 4px;
         color: white;
         transition: 0.2s filter;
         &:hover {
            filter: brightness(0.9);
         }
      }
   }
}

// Video

.main__video {
   grid-area: main-video;
   video {
      width: 100%;
   }
}

// Details

.main__details {
   grid-area: main-details;
   justify-self: end;
   max-width: 252px;
   border: 1px solid #ececec;
   border-radius: 3px;
   color: $text-color-light;
   strong {
      font-weight: 700;
   }
   .wrapper {
      padding: 0.9375rem;
      margin: 0;
      font-size: 0.75rem;
      line-height: 14.4px;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
   }
}

.details__desc {
   display: flex;
   flex-direction: column;
   gap: 0.2rem;
}

.details__authors {
   font-size: 0.875rem;
   h3 {
      font-weight: 700;
   }
   display: flex;
   flex-direction: column;
   line-height: 16.8px;
   gap: 0.2rem;
}

.details__colleges {
   font-size: 0.75rem;
   display: flex;
   flex-direction: column;
   gap: 0.2rem;
}

// Summary

.main__summary {
   grid-area: main-summary;
   margin-top: 0.875rem;
   border: 1px solid #ececec;
   border-radius: 3px;
   cursor: pointer;
   p {
      display: inline-block;
      padding: 0.9375rem;
      text-align: justify;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 21.33px;
      color: $text-color-light;
      .show {
         span {
            font-weight: 700;
            color: $primary-color;
         }
      }
   }
}

// Discussions

.over {
   background: #dddddd;
   position: relative;
   button:hover {
      filter: brightness(1);
   }
}

.blur {
   filter: blur(3px);
}

.overlay {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   z-index: 3;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.5rem;

   p {
      font-weight: 700;
      color: #707070;
   }

   a {
      color: $primary-color;
      font-size: 0.875rem;
      text-decoration: underline;
   }
}

.main__discussions {
   grid-area: main-discussions;
   border: 1px solid #ececec;
   border-radius: 3px;
}

.discussions__create {
   padding: 0.9375rem;
   .separator {
      width: 100%;
      height: 1px;
      border: 1px solid #e7e7e7;
      margin: 2rem 0 1rem 0;
      position: relative;
   }
   .separator-btn {
      position: absolute;
      top: -1rem;
      right: 50%;
      transform: translateX(50%);
      @include flex(center);
      gap: 6px;
      border-radius: 4px;
      background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12),
         0px 2px 2px rgba(0, 0, 0, 0.24);
      color: white;
      font: 700 0.9375rem $primary-font;
      padding: 7px 13px;
   }
   .create__title {
      font: 700 1.125rem $secondary-font;
      color: $primary-color;
      margin-bottom: 1.6875rem;
   }
   .create__desc {
      font-size: 0.875rem;
      line-height: 19.25px;
      color: $text-color-grey;
   }
}

.state1 {
   text-align: center;

   .icons {
      @include flex(center);
      gap: 3.25rem;
      margin-bottom: 2.1875rem;
   }
}

.state2 {
   .separator {
      margin-top: 0.9375rem;
   }
   h4 {
      font-size: 0.875rem;
      text-align: center;
      margin-bottom: 1.375rem;
      color: $text-color-grey;
   }

   form {
      display: flex;
      flex-direction: column;
      label {
         font: 700 1.125rem $secondary-font;
         color: $primary-color;
      }
   }

   #topic {
      padding: 0.7rem 1rem;
      margin-bottom: 0.5rem;
      border: 1px solid #cccccc;
      border-radius: 3px;
      outline: none;
   }

   .textarea {
      width: 100%;
      border: 1px solid #cccccc;
      border-radius: 3px;
      textarea {
         width: 100%;
         border: none;
         outline: none;
      }
      .content__submit {
         @include flex(space-between);
         background: #eaf1f2;
         border: 1px solid #cccccc;
         border-radius: 0px 0px 4px 4px;
         .submit-btn {
            color: white;
            background: linear-gradient(180deg, #feb154 0%, #f1833e 100%);
            padding: 0.625rem 4.125rem;
         }
      }
      .wrapper {
         display: flex;
         gap: 1.875rem;
         margin: 0;
         padding: 0.625rem 1.875rem;
      }
   }
}

.state3 {
   text-align: center;
   a {
      color: $primary-color;
      text-decoration: underline;
      font-weight: 500;
      font-size: 0.875rem;
      margin: 1.875rem 0;
      display: inline-block;
   }
   .create__title {
      margin-bottom: 1.125rem;
   }
   .separator-btn {
      padding: 7px 3.4375rem;
   }
}

.discussions__topics {
   padding: 0.9375rem;
   .topics__items {
      display: flex;
      flex-direction: column-reverse;
      gap: 17px;
   }
}

.topics__item {
   .item__main {
      padding: 1.0625rem 1.4375rem;
      cursor: pointer;
   }
   border: 1px solid #e7e7e7;
   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
   border-radius: 4px;

   h3 {
      font: 700 1rem $secondary-font;
      color: $primary-color;
      line-height: 20px;
   }

   h4 {
      font: 500 0.75rem $primary-font;
      margin-bottom: 10px;
      line-height: 15px;
   }

   .item__comment {
      font-size: 0.875rem;
      margin-bottom: 11px;
      line-height: 17.5px;
      color: $text-color;
      .appear {
         display: none;
         line-height: 17.5px;
      }
   }

   .topic__socials {
      @include flex(flex-start);
      gap: 0.9375rem;
      .topic__socials-heart {
         background: $primary-color;
         @include flex(center);
         padding: 3px 7px;
         border-radius: 2px;
      }
      p {
         color: #757575;
         font-size: 0.875rem;
      }
   }

   .display {
      display: none;
   }

   .topic__comments-comment {
      padding: 1.0625rem 1.4375rem;
      background: #f8f8f8;
      border: 1px solid #e7e7e7;
      p {
         font-size: 14px;
         line-height: 17.5px;
         color: $text-color;
      }
      header {
         @include flex(space-between);
         .role {
            @include flex(center);
            p {
               font: 700 0.875rem $primary-font;
               color: $primary-color;
            }
            gap: 1rem;
         }
      }
   }

   .topic__comments-answer {
      padding: 1.0625rem 1.4375rem;
      border: 1px solid #e7e7e7;
      p {
         font-size: 14px;
         color: $text-color;
      }
   }
}

@media screen and (max-width: 1024px) {
   main {
      .container {
         grid-template-areas:
            'main-header main-share'
            'main-video main-video'
            'main-details main-details'
            'main-summary main-summary'
            'main-discussions main-discussions';
      }
      .main__details {
         justify-self: start;
         max-width: 100%;
         width: 100%;
      }
   }
}

@media screen and (max-width: 768px) {
   main {
      .container {
         grid-template-areas:
            'main-header'
            'main-share'
            'main-video'
            'main-details'
            'main-summary'
            'main-discussions';
         grid-template-columns: auto;
      }
      .main__share {
         justify-self: start;
      }
   }
}

@media screen and (max-width: 492px) {
   .state3 .separator-btn {
      width: 100%;
   }
}
