@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap");
.close {
  display: none;
}

.sidebar {
  width: 16%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.sidebar img {
  max-width: 220px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.sidebar .sidebar__header {
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
  color: white;
  font: 700 1.875rem "Roboto", sans-serif;
  min-height: 4.25rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .sidebar__item {
  background: white;
  font-weight: 500;
  line-height: 19px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0.4375rem 1.5rem;
  cursor: pointer;
  transition: 0.2s filter;
}
.sidebar .sidebar__item a {
  color: #725c5c;
  line-height: 18.75px;
}
.sidebar .sidebar__item:hover {
  filter: brightness(0.9);
}
.sidebar .active {
  background-color: #fdf1eb;
  position: relative;
}
.sidebar .active::before {
  content: "";
  background: linear-gradient(180deg, #ffb455 0%, #ed7839 100%);
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (max-width: 768px) {
  .sidebar {
    visibility: hidden;
    transform: translateX(-100%);
    width: 100%;
    transform-origin: left;
    background: white;
    z-index: 1000;
    transition: transform 0.2s ease-in-out;
  }
  .sidebar img {
    margin: 0 calc(50% - 110px);
  }
  .sidebar .sidebar__header {
    position: relative;
  }
  .sidebar .close {
    color: white;
    display: block;
    position: absolute;
    top: 2.125rem;
    transform: translateY(-50%);
    right: 1.5rem;
    z-index: 100000;
    cursor: pointer;
  }

  .sidebar.show {
    display: block;
    visibility: visible;
    transform: translateX(0);
  }
}
.burguer {
  display: none;
}

.header {
  background-color: #fdf1eb;
  color: #725c5c;
  min-height: 4.25rem;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4.25rem;
}
.header .header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.375rem;
}
.header .nav__profile {
  font-size: 0.875rem;
  display: flex;
  gap: 2px;
  color: #333333;
}
.header .nav__profile div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header .nav__profile .nav__img-wrapper img {
  border-radius: 50%;
  position: relative;
}
.header .nav__profile .nav__img-wrapper::before {
  content: "2";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #f85959;
  z-index: 2;
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .nav__lang-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fdf1eb;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 0.5rem 0.7rem;
  transition: 0.1s filter;
}
.header .nav__lang-selector p {
  line-height: 18px;
  color: #333333;
}
.header .nav__lang-selector .lang__arrow {
  margin-top: 1px;
  margin-left: 5px;
}
.header .nav__lang-selector .lang__globe {
  margin-bottom: 2px;
}
.header .nav__lang-selector:hover {
  filter: brightness(0.9);
}

.header__text-wrapper {
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  height: 100%;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__text-wrapper p {
  line-height: 16.41px;
}
.header__text-wrapper h2 {
  font-size: 1.375rem;
  line-height: 25.78px;
}

@media screen and (max-width: 768px) {
  .header .burguer {
    display: block;
    margin-right: 1rem;
    color: white;
    cursor: pointer;
  }
  .header .header__text-wrapper {
    display: none;
  }
  .header .nav__profile {
    display: none;
  }
}
main .container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "main-header main-share" "main-video main-details" "main-summary main-summary" "main-discussions main-discussions";
  gap: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 3.125rem;
}
main .main__title {
  font: 900 1.25rem "Roboto", sans-serif;
  color: #ed7839;
  line-height: 25px;
}

.display {
  display: none;
}

button {
  cursor: pointer;
  transition: 0.2s filter;
}
button:hover {
  filter: brightness(0.9);
}

.title {
  background-color: #fdf1eb;
  width: 100%;
  padding: 0.6875rem 0.9375rem 0.5625rem;
}
.title h2 {
  color: #4e4e4e;
  font: 500 1.25rem "Roboto", sans-serif;
  line-height: 25px;
}

.main__header {
  grid-area: main-header;
}

.main__share {
  grid-area: main-share;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}
.main__share p {
  font: 500 0.875rem "Roboto", sans-serif;
  color: #ed7839;
  text-transform: uppercase;
  line-height: 25px;
}
.main__share .share-buttons {
  display: flex;
  gap: 5px;
}
.main__share .share-buttons a {
  background: #ed7839;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 0.375rem 0.75rem;
  border-radius: 4px;
  color: white;
  transition: 0.2s filter;
}
.main__share .share-buttons a:hover {
  filter: brightness(0.9);
}

.main__video {
  grid-area: main-video;
}
.main__video video {
  width: 100%;
}

.main__details {
  grid-area: main-details;
  justify-self: end;
  max-width: 252px;
  border: 1px solid #ececec;
  border-radius: 3px;
  color: #5c5c5c;
}
.main__details strong {
  font-weight: 700;
}
.main__details .wrapper {
  padding: 0.9375rem;
  margin: 0;
  font-size: 0.75rem;
  line-height: 14.4px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.details__desc {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.details__authors {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  line-height: 16.8px;
  gap: 0.2rem;
}
.details__authors h3 {
  font-weight: 700;
}

.details__colleges {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.main__summary {
  grid-area: main-summary;
  margin-top: 0.875rem;
  border: 1px solid #ececec;
  border-radius: 3px;
  cursor: pointer;
}
.main__summary p {
  display: inline-block;
  padding: 0.9375rem;
  text-align: justify;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 21.33px;
  color: #5c5c5c;
}
.main__summary p .show span {
  font-weight: 700;
  color: #ed7839;
}

.over {
  background: #dddddd;
  position: relative;
}
.over button:hover {
  filter: brightness(1);
}

.blur {
  filter: blur(3px);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.overlay p {
  font-weight: 700;
  color: #707070;
}
.overlay a {
  color: #ed7839;
  font-size: 0.875rem;
  text-decoration: underline;
}

.main__discussions {
  grid-area: main-discussions;
  border: 1px solid #ececec;
  border-radius: 3px;
}

.discussions__create {
  padding: 0.9375rem;
}
.discussions__create .separator {
  width: 100%;
  height: 1px;
  border: 1px solid #e7e7e7;
  margin: 2rem 0 1rem 0;
  position: relative;
}
.discussions__create .separator-btn {
  position: absolute;
  top: -1rem;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 4px;
  background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  color: white;
  font: 700 0.9375rem "Quicksand", sans-serif;
  padding: 7px 13px;
}
.discussions__create .create__title {
  font: 700 1.125rem "Roboto", sans-serif;
  color: #ed7839;
  margin-bottom: 1.6875rem;
}
.discussions__create .create__desc {
  font-size: 0.875rem;
  line-height: 19.25px;
  color: #595959;
}

.state1 {
  text-align: center;
}
.state1 .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.25rem;
  margin-bottom: 2.1875rem;
}

.state2 .separator {
  margin-top: 0.9375rem;
}
.state2 h4 {
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 1.375rem;
  color: #595959;
}
.state2 form {
  display: flex;
  flex-direction: column;
}
.state2 form label {
  font: 700 1.125rem "Roboto", sans-serif;
  color: #ed7839;
}
.state2 #topic {
  padding: 0.7rem 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid #cccccc;
  border-radius: 3px;
  outline: none;
}
.state2 .textarea {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
.state2 .textarea textarea {
  width: 100%;
  border: none;
  outline: none;
}
.state2 .textarea .content__submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eaf1f2;
  border: 1px solid #cccccc;
  border-radius: 0px 0px 4px 4px;
}
.state2 .textarea .content__submit .submit-btn {
  color: white;
  background: linear-gradient(180deg, #feb154 0%, #f1833e 100%);
  padding: 0.625rem 4.125rem;
}
.state2 .textarea .wrapper {
  display: flex;
  gap: 1.875rem;
  margin: 0;
  padding: 0.625rem 1.875rem;
}

.state3 {
  text-align: center;
}
.state3 a {
  color: #ed7839;
  text-decoration: underline;
  font-weight: 500;
  font-size: 0.875rem;
  margin: 1.875rem 0;
  display: inline-block;
}
.state3 .create__title {
  margin-bottom: 1.125rem;
}
.state3 .separator-btn {
  padding: 7px 3.4375rem;
}

.discussions__topics {
  padding: 0.9375rem;
}
.discussions__topics .topics__items {
  display: flex;
  flex-direction: column-reverse;
  gap: 17px;
}

.topics__item {
  border: 1px solid #e7e7e7;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.topics__item .item__main {
  padding: 1.0625rem 1.4375rem;
  cursor: pointer;
}
.topics__item h3 {
  font: 700 1rem "Roboto", sans-serif;
  color: #ed7839;
  line-height: 20px;
}
.topics__item h4 {
  font: 500 0.75rem "Quicksand", sans-serif;
  margin-bottom: 10px;
  line-height: 15px;
}
.topics__item .item__comment {
  font-size: 0.875rem;
  margin-bottom: 11px;
  line-height: 17.5px;
  color: #4d4d4d;
}
.topics__item .item__comment .appear {
  display: none;
  line-height: 17.5px;
}
.topics__item .topic__socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.9375rem;
}
.topics__item .topic__socials .topic__socials-heart {
  background: #ed7839;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 7px;
  border-radius: 2px;
}
.topics__item .topic__socials p {
  color: #757575;
  font-size: 0.875rem;
}
.topics__item .display {
  display: none;
}
.topics__item .topic__comments-comment {
  padding: 1.0625rem 1.4375rem;
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
}
.topics__item .topic__comments-comment p {
  font-size: 14px;
  line-height: 17.5px;
}
.topics__item .topic__comments-comment header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topics__item .topic__comments-comment header .role {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.topics__item .topic__comments-comment header .role p {
  font: 700 0.875rem "Quicksand", sans-serif;
  color: #ed7839;
}
.topics__item .topic__comments-answer {
  padding: 1.0625rem 1.4375rem;
  border: 1px solid #e7e7e7;
}
.topics__item .topic__comments-answer p {
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  main .container {
    grid-template-areas: "main-header main-share" "main-video main-video" "main-details main-details" "main-summary main-summary" "main-discussions main-discussions";
  }
  main .main__details {
    justify-self: start;
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  main .container {
    grid-template-areas: "main-header" "main-share" "main-video" "main-details" "main-summary" "main-discussions";
    grid-template-columns: auto;
  }
  main .main__share {
    justify-self: start;
  }
}
footer {
  text-align: center;
}
footer img {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
}

.wrapper {
  width: 84%;
  margin-left: 16%;
}

.container {
  padding: 0 2.8125rem;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin-left: 0;
    width: 100%;
  }

  .scroll {
    overflow-y: hidden;
  }
}/*# sourceMappingURL=style.css.map */